.formRow_create_title {
  text-align: center;
  border-radius: 7px;
  color: #0e0d0d;
  font-size: 2em;
}
.formRow_create {
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  box-shadow: 2px 7px 9px 3px #1b191933;
  background: white;
  opacity: 85%
}
